# Escludi cartelle pesanti o inutili per il build Docker
myvenv/
notebooks/
docs/
.git/
.history/
.gitignore
.DS_Store
__pycache__/

# Non include i log e i file .csv temporanei
logs/
data/cleaned/*.csv
data/aggregated/*.csv
