# Virtual environment
.venv/
venv/
env/

# Dati generati
data/cleaned/
data/aggregated/

# Log
logs/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# IDE
.vscode/
.history/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
